{% extends "page.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-xl">Asset error detail</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Asset ID</dt>
          <dd class="govuk-summary-list__value">{{ assetErr.location }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Error</dt>
          <dd class="govuk-summary-list__value">{{ assetErr.message }}</dd>
        </div>
      </dl>
      {# TODO: as a stretch goal, we could use the field assetErr.extras.input_data to get all the valid
      fields from the row, but time is tight so I'm not doing that right now #}
      {% if assetErr.sub_errors.length > 0 %}
        <h3 class="govuk-heading-l">Invalid fields</h3>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"> Field </th>
              <th class="govuk-table__header" scope="col"> Value </th>
              <th class="govuk-table__header" scope="col"> Message </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
              {% for suberr in assetErr.sub_errors %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                      {{ suberr.location }}
                  </td>
                  <td class="govuk-table__cell">
                      {{ suberr.value }}
                  </td>
                  <td class="govuk-table__cell">
                      {{ suberr.message }}
                  </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      {% endif %}
  </div>
</div>

{% endblock %}