{% extends "page.njk" %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Upload CSV file
    </h1>
    <p class="govuk-body">Upload the CSV files containing your data asset descriptions.</p>
    
    <form action="/publish/csv/upload" method="POST" enctype="multipart/form-data">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group">
          <label class="govuk-label" for="datasetsCSV">
            Upload dataset CSV
          </label>
          <input class="govuk-file-upload" id="datasetsCSV" name="datasetsCSV" type="file", accept="text/csv", required="true">
        </div>
      </div>

      <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group">
          <label class="govuk-label" for="servicesCSV">
            Upload dataService CSV
          </label>
          <input class="govuk-file-upload" id="servicesCSV" name="servicesCSV" type="file", accept="text/csv", required="true">
        </div>
      </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
</div>

<div class="govuk-grid-column-one-third">
    <aside class="app-related-items learn-aside" role="complementary">
        <h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-3" id="subsection-title">
          Learn
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
                <li><a href="/learn/articles/metadata-model" class="govuk-link">Metadata sharing requirements</a></li>
                <li><a href="/learn/articles/metadata-model" class="govuk-link">Adding a collection of metadata records as a CSV file</a></li>
            </ul>
        </nav>
    </aside>
</div>   
</div>

{% endblock %} 

{% set customFooterContent %}
<h2 id="support" class="govuk-heading-m">Get help and support</h2>
<p class="govuk-body-s"><a class="govuk-footer__link" href="https://forms.gle/rpy2BMchHGDNVFfAA">Tell us what you need help with</a>.</p>
<p class="govuk-body-s">If you have any questions about the data asset description (metadata), you should contact the data asset supplier directly.</p>
{% endset %}

{% set customFooterContent %}

<h2 id="support" class="govuk-heading-m">Get help and support</h2>
<p class="govuk-body-s"><a class="govuk-footer__link" href="https://forms.gle/rpy2BMchHGDNVFfAA">Tell us what you need help with</a>.</p>
<p class="govuk-body-s">If you have any questions about the data asset description (metadata), you should contact the data asset supplier directly.</p>
<ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">Accessibility</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">Cookies</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">Privacy</a>
    </li>
</ul>
{% endset %}

{% block footer %}
{{ govukFooter({
    meta: {
      html: customFooterContent
    }
  }) }}
{% endblock %}
