{% extends "page.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
      Error with entire file
      </h1>
      <pre style="border: 20x solid red;">{{ error }}</pre>

  </div>
</div>
{% endblock %} 