{% extends "layouts/base.njk" %}

{% block content %}

<div class="govuk-grid-row">
    <h2 class="govuk-heading-l govuk-!-font-weight-bold">Upload from CSV</h2>
    <a href="{{assetpath}}/publish/csv" class="govuk-button" data-module="govuk-button">
    Publish from csv
    </a>
</div>
{% endblock %} 