{% extends "page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Malformed files
      </h1>
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <p class="govuk-body">
           Your file could not be parsed. Please ensure that you have uploaded the correct template including your data asset descriptions.
        </p>
      </div>
  {{ govukButton({
        text: "Try again",
        href: "/publish/csv/upload",
        name: "tryAgainButton"
    }) }}
  </div>
</div>
{% endblock %}
