{% extends "page.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

 {% block content %}
<div class="govuk-grid-row">
   <h1 class="govuk-heading-xl">Upload summary</h1>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">File: <strong>my_data_file_without_errors.csv</strong></p>
      <p class="govuk-body">All data asset descriptions passed validation. Review the records to ensure that they are correct. If you are happy then click Publish otherwise click on upload new CSV file.</p>

    </div>
    <div class="govuk-grid-column-one-third">
      <div class="gem-c-contextual-sidebar">
        <div class="gem-c-related-navigation">
          <h2 id="learnLinks" class="gem-c-related-navigation__main-heading">
            Learn
          </h2>
          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="learnLinks">
            <ul class="gem-c-related-navigation__link-list">
              <li class="gem-c-related-navigation__link">
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" href="/learn/articles/metadata-model">Metadata sharing requirements</a>
              </li>
              
              <li class="gem-c-related-navigation__link">
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" href="/learn/articles/adding-a-CSV-file">Adding a collection of metadata records as a CSV file</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <!-- Harvesters info to be added in later iterations -->
    <h2 class="app-task-list__section">
    Data Harvesters
    </h2>
    {{ govukTable({
    caption: "Completed requests",
    captionClasses: "govuk-table__caption--l",
    classes: "request-tables",
    head: [
        {
            text: "Data asset"
        },
        {
            text: "Asset Type"
        },
        {
            text: "Status"
        }
    ],
    rows: uploadSummary
}) }}
  </div>
</div>

{% endblock %} 

