{% extends "page.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       {{ govukPanel({
            titleText: "Data share request sent",
            html: "Your request number " + "<br><br>" + requestId
        }) }}
    <p class="govuk-body">{{assetTitle}} has been told their request has been accepted and you will contact them to discuss further.</p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">Contact <a target="_blank" href="#data-team@department-x.gov.uk?">data-team@department-x.gov.uk to start a discussion</a></p>

    <form method="POST" id="declarationForm">
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Return to manage data share requests",
          name: "continueButton",
          value: "continue"
        }) }}
      </div>
    </form>
    </div>
  </div>
{% endblock %}
