{% extends "page.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Manage data share requests</span>
    <h1 class="govuk-heading-xl">Created requests</h1>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items">
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li><a href="{{ assetpath }}/manage-shares/received-requests" class="govuk-link">View received requests</a></li>
             <li><a href="{{ assetpath }}/find" class="govuk-link">Find data to request</a></li>
          </ul>
        </nav>
    </aside>
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ govukTable({
            caption: "Pending requests",
            captionClasses: "govuk-table__caption--l",
            classes: "request-tables",
            head: [
                {
                    text: "Request ID"
                },
                {
                    text: "Dataset"
                },
                {
                    text: "Owner"
                },
                {
                    text: "Needed by"
                },
                {
                    text: "Status"
                }
            ],
            rows: allTableRows.pending
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ govukTable({
            caption: "Submitted requests",
            captionClasses: "govuk-table__caption--l",
            classes: "request-tables",
            head: [
                {
                    text: "Request ID"
                },
                {
                    text: "Dataset"
                },
                {
                    text: "Owner"
                },
                {
                    text: "Needed by"
                },
                {
                    text: "Status"
                }
            ],
            rows: allTableRows.submitted
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ govukTable({
            caption: "Completed requests",
            captionClasses: "govuk-table__caption--l",
            classes: "request-tables",
            head: [
                {
                    text: "Request ID"
                },
                {
                    text: "Dataset"
                },
                {
                    text: "Owner"
                },
                {
                    text: "Needed by"
                },
                {
                    text: "Completed"
                },
                {
                    text: "Decision"
                }
            ],
            rows: [
            [
            {
                html: '<a href="/acquirer/created-request-outcome" class="govuk-link">RR148 - View</a>'
            },
            {
            text: "	teacher-end-of-year_reporting"
            },
            {
            text: "Department for Education"
            },
            {
            text: "18 Jun 2023"
            },
            {
            text: "2 Nov 2023"
            },
            {
            text: "Rejected"
            }
            ]
        ]
        }) }}
    </div>
</div>


{% endblock %}
