{% extends "page.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form method="post">
      {{ govukInput({
            id: "data-travel-location",
            name: "data-travel-location",
            label: {
                text: "What countries will the data travel through?",
                classes: "govuk-label--m"
            },
            value: savedValue
            }) }}
      <div class="govuk-button-group">
        {{ govukButton({
            text: "Save and continue",
            name: "continueButton",
            value: "continue"
        }) }}
        {{ govukButton({
            text: "Save and return",
            classes: "govuk-button--secondary",
            name: "returnButton",
            value: "return"
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}