{% extends "page.njk" %}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Request ID: {{requestId}}</span>
      <form method="POST" id="dataTypeForm">
        {{ govukRadios({
                  name: "data-type",
                  fieldset: {
                      legend: {
                      text: "What type of data do you need?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--l"
                      }
                  },
                  items: [
                      {
                      value: "personal",
                      text: "Personal data",
                      checked: savedValue === 'personal',
                      hint: {
                          text: "For example, names or addresses."
                      }
                      },
                      {
                      value: "special",
                      text: "Special category data",
                      checked: savedValue === 'special',
                      hint: {
                          text: "For example, data about health or religious beliefs."
                      }
                      },
                      {
                      divider: "or"
                      },
                      {
                      value: "none",
                      text: "None of the above",
                      checked: savedValue === 'none',
                      hint: {
                          text: "For example, anonymised data."
                      }
                      }
                  ]
                  }) }}
        {{ govukButton({
                    text: "Save and continue"
                }) }}
        <h2 class="govuk-heading-m">More information</h2>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/personal-information-what-is-it/what-is-personal-data/what-is-personal-data/" target="_blank">What is personal data? (opens in new tab)</a></li>
          <li><a class="govuk-link" href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/lawful-basis/special-category-data/what-is-special-category-data/" target="_blank">What is special category data? (opens in new tab)</a></li>
        </ul>
      </form>
    </div>
  </div>
{% endblock %}