{% extends "page.njk" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Request ID: {{requestId}}</span>
    <label for="data-required" class="govuk-label govuk-label--l">What data from {{ assetTitle }} do you need?</label>
    <p class="govuk-body"><a class="govuk-link" href="#" target="_blank"> View data (opens in new tab)</a></p>
    <form method="post">
      {{ govukTextarea({
        id: "data-required",
        name: "data-required",
        rows: 5,
        value: savedValue
      }) }}
      <div class="govuk-button-group">
        {{ govukButton({
            text: "Save and continue",
            name: "continueButton",
            value: "continue"
        }) }}
        {{ govukButton({
            text: "Save and return",
            classes: "govuk-button--secondary",
            name: "returnButton",
            value: "return"
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}