{% extends "page.njk" %}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Request ID: {{requestId}}</span>
   
      {% set errorText = undefined %}
        {% if errorMessage['data-subjects'] %}
          {% set errorText = { text: errorMessage['data-subjects'] } %}
        {% endif %}

      <form method="POST" id="dataTypeForm">
      
        {% set dataSubjectDetails %}
          <p class="govuk-body">Data subjects are the people whose data you are requesting.</p>
          <p class="govuk-body">For example:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><p>Small business owners aged between 45 and 55.</p></li>
            <li><p>All people using Universal Credit with children.</p></li>
          </ul>
          <p class="govuk-body">Data subjects should be specific to the purpose of your data request.</p>
        {% endset %}

        {% set detailsComponent %}
          {{ govukDetails({
              summaryText: "Data subject definition and examples",
              html: dataSubjectDetails
          }) }}
        {% endset %}

        {{ govukTextarea({
          name: "data-subjects",
          id: "data-subjects",
          rows: 5,
          label: {
            text: "Who are the data subjects?",
            classes: "govuk-label--l",
            isPageHeading: true
          }, 
         hint: {
            html: "Be as specific as possible. For example, small business owners aged between 45 and 55." + detailsComponent
          },
          value: savedValue,
          errorMessage: errorText
        }) }}
        <div class="govuk-button-group">
        {{ govukButton({
            text: "Save and continue",
            name: "continueButton",
            value: "continue"
        }) }}
        {{ govukButton({
            text: "Save and return",
            classes: "govuk-button--secondary",
            name: "returnButton",
            value: "return"
        }) }}
      </div>
      </form>
    </div>
  </div>
{% endblock %}