{% extends "page.njk" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     <span class="govuk-caption-l">Request ID: {{requestId}}</span>
    <form method="post">
      {{ govukTextarea({
            id: "disposal",
            name: "disposal",
            label: {
                text: "How will you dispose of the data when your project finishes?",
                classes: "govuk-label--l"
            },
            rows: 5,
            value: savedValue
            }) }}
      <div class="govuk-button-group">
        {{ govukButton({
            text: "Save and continue",
            name: "continueButton",
            value: "continue"
        }) }}
        {{ govukButton({
            text: "Save and return",
            classes: "govuk-button--secondary",
            name: "returnButton",
            value: "return"
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}