{% extends "layouts/base.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Accessibility statement</h1>
    <p class="govuk-body">This statement applies to content published on the <a class="govuk-link" href="https://www.eks.dm.soydaner.com">www.eks.dm.soydaner.com</a> domain. It does not apply to content on any other service domains.</p>
    <p class="govuk-body">It is designed to be used by as many people as possible. The text should be clear and simple to understand. You should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>zoom in up to 300% without problems</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">We've also made the website text as simple as possible to understand.</p>
    <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

    <h1 class="govuk-heading-l">How accessible is this website?</h1>
    <p class="govuk-body">This website is currently a Private Beta Service and as part of the on-going user research it is currently subject to an accessibility audit. Its design is based on our user research that has included research into individuals with specific needs.</p>
    <p class="govuk-body">Accessibility has been considered during the build, and the page will be updated following the conclusion of the audit.</p>  

    <h1 class="govuk-heading-l">GOV.UK services</h1>  
    <p class="govuk-body">Each service has its own accessibility page, with details of how accessible the service is, how to report problems and how to request information in an alternative format. You can access these pages from the footer inside the service.</p>
    
    <h1 class="govuk-heading-l">Feedback and contact information</h1>
    <p class="govuk-body">In your message, include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the web address (URL) of the content</li>
      <li>your email address and name</li>
      <li>the format you need, for example: plain text, braille, BSL, large print or audio CD</li>
    </ul>

    <h1 class="govuk-heading-l">Reporting accessibility problems with this website</h1>
    <p class="govuk-body">If you find any problems that are not listed on this page or you think we're not meeting the accessibility requirements, <a class="govuk-link" href="https://docs.google.com/forms/d/e/1FAIpQLSeukG0jO_XgjBt6U7Fz_FJYOhjn3xXrrZTd43Ur0tFGZFwFLA/viewform">contact us</a>.</p>

    <h1 class="govuk-heading-l">Enforcement procedure</h1>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

    <h1 class="govuk-heading-l">Technical information about this website's accessibility</h1>
    <p class="govuk-body">The Government Digital Service is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <h1 class="govuk-heading-l">Preparation of this accessibility statement</h1>
    <p class="govuk-body">This statement was prepared on 26 September 2023.</p>
  </div>
</div>
{% endblock %}