{% extends "layouts/base.njk" %}

{% block pageTitle %}{{messageTitle}} - Data Marketplace - GOV.UK{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l govuk-!-font-weight-bold">{{messageTitle}}</h1>
  <p class="govuk-body">{{messageBody | safe}}</p>
{% endblock %}