{% extends "page.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Account</h1>

      {% if user %}
        {{ govukTable({
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        rows: [
          [
            {
              text: "Name"
            },
            {
              text: user.display_name
            }
          ],
          [
            {
              text: "Email"
            },
            {
              text: user.email
            }
          ],
          [
            {
              text: "Organisation"
            },
            {
              text: organisation if organisation else "unavailable"
            }
          ],
          [
            {
              text: "Primary Skill"
            },
            {
              text: jobTitle if jobTitle else "unavailable"
            }
          ]
        ]
      }) }}

      {% endif %}
    </div>
  </div>

{% endblock %}