{% extends "page.njk" %}

{% block content %}
    <h1>{{ heading }}</h1>
    {% if user %}
    Authenticated: {{ isAuthenticated }}<br/>
    Display name: {{user.display_name}}<br/>
    Email: {{user.email}}
        <br/>
    Share requests:
    <ul>
            {% for assetId, requestData in requestForms %}
                <li>
                    <a href="/acquirer/{{assetId}}/start">{{assetId}}</a>
                </li>
            {% endfor %}
        </ul>
        {%endif%}
    {% endblock %}