{% extends "layouts/base.njk" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Request {{ data['shareTitle'] }} data
      </h1>

      <p class="govuk-body">You need to answer some questions to make sure your request meets GDPR and data sharing standards.</p>

      <p class="govuk-body">Your answers will be reviewed by the department that owns the data.</p>

      <h2 class="govuk-heading-l">
        Before you start
      </h2>

      <p class="govuk-body">Some questions may require support from people with  skills in:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>technology</li>
        <li>data security</li>
        <li>data protection</li>
        <li>legal</li>
        <li>data governance</li>
      </ul>

      <p><a href="#1" class="govuk-body govuk-body-m" >Check questions before you start</a></p>

      <a href="020-tasks-cat" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <br>
      <br>

      <h3 class="govuk-heading-m">For more help</h3>
      <ul class="govuk-list">
        <li class="govuk-link"><a href="#1">How to set up a data share arrangement in government</a></li>
      </ul>

    </div>
  </div>

{% endblock %}