.moj-filter {
  background-color: #ffffff;
  border-bottom: 1px solid $govuk-border-colour;
}
.moj-override .app-c-expander:last-child {
  border-bottom: 1px solid $govuk-border-colour;
}
.moj-override--selected-tags .moj-filter__tag {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  background: transparent;
  padding: 0.5em;
  border-radius: 0.3125em;
}
.moj-override--selected-tags .moj-filter__tag:hover {
  background: #b1b4b6;
  color: black;
}
.facet-tags__container {
  background-color: govuk-colour("light-grey");
  padding: 1.4rem 0.6rem;
  margin-bottom: 10px;
}
div.app-c-expander {
  padding: 0;
}
.moj-filter__tag {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  background-color: #ffffff;
  border: 1px solid #0b0c0c;
  color: #0b0c0c;
  display: inline-block;
  margin-top: 5px;
  margin-right: 0.6rem;
  padding: 5px;
  text-decoration: none;
}
.moj-filter__tag:after {
  background-image: url("/images/icon-tag-remove-cross.svg");
  content: "";
  display: inline-block;
  font-weight: bold;
  height: 10px;
  margin-left: 5px;
  vertical-align: middle;
  width: 10px;
}
.app-c-expander::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.87);
  background-color: rgba(0, 0, 0, 0.5);
}
.app-c-expander::-webkit-scrollbar {
  width: 16px;
}
.moj-override--selected-tags {
  display: block;
}
.category-filter-title {
  margin: 0.8rem 0;
}
.moj-filter-tags {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media print {
  .moj-filter__tag {
    font-family: sans-serif;
  }
}
@media (max-width: 768px) {
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.87);
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 40.0625em) {
  .moj-filter__tag {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media print {
  .moj-filter__tag {
    font-size: 14pt;
    line-height: 1.2;
  }
}
