// Custom.scss
.govuk-phase-banner {
    background-color: $govuk-brand-colour;
    border-bottom: 1px solid govuk-colour("mid-grey");

    .govuk-phase-banner__content {
        color: govuk-colour("white");
  
      &__tag {
        // background-color: #1d70b8;
        background-color: govuk-colour("white");
        color:  $govuk-link-colour; 
      }
    }
    .govuk-link {
      color: govuk-colour("white");
    }
}