.govuk-phase-banner {
  border-bottom: 1px solid govuk-colour("mid-grey");

  .govuk-link {
    color: govuk-colour("black");
    &:hover {
      text-decoration: underline; // This will underline the link when hovered over
      text-decoration-thickness: 2px; // This will make the underline slightly thicker when hovered over
    }
  }
}

.inverse-banner {
  color: #fff;

  .govuk-phase-banner {
    background-color: $govuk-brand-colour;
    border-bottom: 1px solid govuk-colour("mid-grey");

    &__content {
      color: #fff;

      &__tag {
        background-color: govuk-colour("white");
        color: $govuk-brand-colour;
      }
    }
  }

  .govuk-link {
    color: govuk-colour("white");
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
}
