.additional-info {
  background: #f8f8f8;
  padding: 25px 30px 15px 30px;
}

.resource-table {
  overflow-wrap: break-word;
}

@media (max-width: 567px) {
  .resource-table td,
  .resource-table td a {
    word-wrap: break-word;
    white-space: normal;
  }
}
