@import "../../node_modules/govuk-frontend/govuk/all";
@import "_navigation";
@import "_phaseBanner";
@import "_masthead";
@import "_search";
@import "_moj_filter";
@import "_documentList";
@import "_resource";
@import "_expander";
@import "_typography";
@import "_task-list";

//overrides
.govuk-list {
    cursor: pointer;
    color: $govuk-link-colour;
   
    .govuk-link:hover {
      text-decoration: underline;
      text-underline-offset: .18em;
      text-decoration-thickness: 0.16em;
      @include govuk-link-hover-decoration;
    }
}
