@import "../../node_modules/govuk-frontend/govuk/all";
@import "_navigation";
@import "_phaseBanner";
@import "_masthead";
@import "_search";
@import "_moj_filter";
@import "_documentList";
@import "_resource";
@import "_expander";
@import "_typography";
@import "_task-list";
@import "_relatedData";

//overrides
.govuk-list {
  li > .govuk-link {
    cursor: pointer;
    color: $govuk-link-colour;

    &:hover {
      color: $govuk-link-hover-colour;
      text-decoration: underline;
      text-underline-offset: 0.18em;
      text-decoration-thickness: 0.16em;
      @include govuk-link-hover-decoration;
    }
  }
}

.add-another__organisation:first-of-type {
  margin-bottom: govuk-spacing(5);
}

aside {
  border-top: govuk-colour("blue") solid 2px;
}

.app-related-items {
  padding-top: 10px;
}

.govuk-table td,
.govuk-table th {
  white-space: nowrap;
}

.request-tables {
  margin-bottom: govuk-spacing(9);
}

.govuk-table > tbody > tr {
  td:first-of-type {
    width: 10%;
  }
}

#declarationForm {
  margin-top: govuk-spacing(8);
}

#checkYourAnswers {
  .not-required {
    color: govuk-colour("mid-grey");
  }
}
