{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block footer %}
{{ govukFooter({
    meta: {
      items: [
        {
          href: "#",
          text: "Accessibility"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Privacy"
        }
      ]
    }
  }) }}
{% endblock %}