{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
    <nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
      <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
      <ul class="app-navigation__list app-width-container">
          <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/">
              Home
            </a>
          </li>
          <li class="app-navigation__list-item app-navigation__list-item--right">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href={%if isAuthenticated %}"/logout"{%else%}"/login"{%endif%}>
                {% if isAuthenticated %}Sign out{%else%}Sign in{%endif%}
            </a>
          </li>
          <li class="app-navigation__list-item app-navigation__list-item--right">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href={%if isAuthenticated %}"/profile"{%else%}"/login"{%endif%}>
                Account
            </a>
          </li>
      </ul>
    </nav>
{% endblock %}