{% extends "page.njk" %}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Request ID: RR325</span>
    <form method="POST" id="decisionForm" action="/manage-shares/decision">
      {% set ReturnWithCommentsHtml %}
        {{ govukTextarea({
          id: "return-with-comments-textarea",
          name: "return-with-comments",
          value: []
        }) }}
      {% endset -%}
      {% set ApproveHtml %}
        {{ govukTextarea({
          id: "approve-textarea",
          name: "approve",
          value: []
        }) }}
      {% endset -%}
      {% set RejectHtml %}
        {{ govukTextarea({
          id: "reject-textarea",
          name: "reject",
          value: []
        }) }}
      {% endset -%}
      {{ govukRadios({
        name: "decision",
        fieldset: {
          legend: {
          text: "What is your decision?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Choose your decision and add your comments. This will be sent to the person or team making the request."
        },
        items: [
            {
            value: "return-with-comments",
            text: "Return with comments",
            checked: "",
            hint: {
              text: "Some details are missing. A decision cannot be made without them. If they provide this information, you will progress the request."
            },
            conditional: {
              html: ReturnWithCommentsHtml
            }
            },
            {
            value: "approve",
            text: "Accept data share request",
            checked: "",
            hint: {
              text: "Approve and arrange a meeting to discuss the next steps."
            },
            conditional: {
              html: ApproveHtml
            }
            },
            {
            value: "reject-with-comments",
            text: "Reject data share request",
            checked: "",
            hint: {
              text: "There are fundamental problems with this request that cannot be solved. Use the comments box to tell the department why you have rejected their request."
            },
            conditional: {
              html: RejectHtml
            }
          }
        ]
      }) }}
      <div class="govuk-button-group">
        {{ govukButton({
            text: "Submit",
            name: "submitButton",
            value: "submit"
        }) }}
        <a href="/manage-shares/received-requests" class="govuk-link">Returned to received requests</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}