{% extends "page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Declaration</h1>
    <p class="govuk-body">By accepting this request, you confirm you're satisfied that the:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>technology</li>
      <li>data security</li>
      <li>data protection</li>
      <li>legal</li>
      <li>data governance</li>
    </ul>
    <p class="govuk-body">aspects have been met.</p>
    <br>
    <form class="form" action="/manage-shares/received-requests/{{ requestId }}/declaration" method="post">
      <div class="govuk-button-group">
        {{ govukButton({
            text: "Accept the data share request",
            name: "acceptButton",
            value: "accept"
        }) }}
    </form>
  </div>
</div>
{% endblock %}