{% extends "page.njk" %}

{% if request.status === "ACCEPTED" %}
  {% set nextSteps = "The " + request.requestingOrg + " have been told that this request was accepted. Contact " + request.requesterEmail + " to set up the data share arrangement." %}
{% elif request.status === "RETURNED" %}
  {% set nextSteps = "Your department does not need to do anything. " + request.assetPublisher.title + " has been told that this request has been returned." %}
{% elif request.status === "REJECTED" %}
  {% set nextSteps = "Your department does not need to do anything. " + request.assetPublisher.title + " has been told that their request was rejected." %}
{% endif %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Request ID: {{request.requestId}}</span>
    <h1 class="govuk-heading-xl">
      {{ request.status | capitalize }} request
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">Decision made</h2>
    <p class="govuk-body">{{ request.decisionDate }}</p>

    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">Feedback provided</h2>
    <p class="govuk-body">{{ request.decisionNotes }}</p>

    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">Notes</h2>
    <p class="govuk-body">{{ request.notes if request.notes else "No notes provided." }}</p>


    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">What happens next</h2>
    <p class="govuk-body">{{ nextSteps }}</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s govuk-!-static-margin-bottom-1">Requested by</h2>
    <p class="govuk-body">{{ request.requestingOrg }}</p>

    <h2 class="govuk-heading-s govuk-!-static-margin-bottom-1">Dataset</h2>
    <p class="govuk-body">{{ request.assetTitle }}</p>

    <h2 class="govuk-heading-s govuk-!-static-margin-bottom-1">Received</h2>
    <p class="govuk-body">{{ request.received }}</p>

    <h2 class="govuk-heading-s govuk-!-static-margin-bottom-1">Needed by</h2>
    <p class="govuk-body">{{ request.neededBy }}</p>
  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-button-group govuk-!-static-margin-top-9">
      <a href="{{assetPath}}/manage-shares/received-requests/{{request.requestId}}/view-answers" class="govuk-button govuk-button--secondary">View full request</a>
      <a href="{{assetPath}}/manage-shares/received-requests" class="govuk-link">Return to received requests</a>
    </div>
  </div>
</div>

{% endblock %}