{% extends "page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Request ID: RR147</span>
    <h1 class="govuk-heading-xl">
      Accepted request
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">Decision made</h2>
    <p class="govuk-body">2 May 2023</p>

    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">Feedback provided</h2>
    <p class="govuk-body">We are in a good place to start the MoU but will need to set up a meeting to discuss the finer details.</p>

    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">Notes</h2>
    <p class="govuk-body">I spoke to George Heatherfield from legal who confirmed the correct legal gateway.</p>


    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">What happens next</h2>
    <p class="govuk-body">The Department for Education have been told that this request was accepted.</p>
    <p class="govuk-body">Contact <a href="#1">data-management@dfe.gov.uk</a> to set up the data share arrangement.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s govuk-!-static-margin-bottom-1">Requested by</h2>
    <p class="govuk-body">Department for Education</p>

    <h2 class="govuk-heading-s govuk-!-static-margin-bottom-1">Dataset</h2>
    <p class="govuk-body">Inline-core_reporting-and-location</p>

    <h2 class="govuk-heading-s govuk-!-static-margin-bottom-1">Request received</h2>
    <p class="govuk-body">18 April 2023</p>

    <h2 class="govuk-heading-s govuk-!-static-margin-bottom-1">Date needed by</h2>
    <p class="govuk-body">2 November 2023</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-button-group govuk-!-static-margin-top-9">
            {{ govukButton({
                text: "View full request",
                classes: "govuk-button--secondary",
                name: "fullRequest",
                value: "continue"
            }) }}
             <a href="received-requests" class="govuk-link">Return to received requests</a>
        </div>
  </div>
</div>

{% endblock %}