{% extends "page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Request ID: {{ request.requestId }}</span>
    <h1 class="govuk-heading-l">
      Review {{ request.requestingOrg }}'s request to access {{ request.assetTitle }} data
    </h1>

    <div class="request-section">
      <h2 class="govuk-heading-m">Lawful basis for personal data</h2>
      <ul class="govuk-list">
        {% for basis, details in request.sharedata.steps['lawful-basis-personal'].value %}
          {% if details.checked %}
            <li class="govuk-!-padding-bottom-3">{{ basis | replace("-", " ") | capitalize }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Legal power</h2>
      <p class="govuk-body">{{ request.sharedata.steps['legal-power'].value.yes.explanation }}</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">Justification for legal gateway</h2>
      <div class="govuk-warning-text govuk-!-static-margin-bottom-2">
      </div>
      <p class="govuk-body">{{ request.sharedata.steps['legal-gateway'].value.yes.explanation }}</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Data travel outside UK</h2>
      <p class="govuk-body">{{ request.sharedata.steps['data-travel'].value }}</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Data subjects</h2>
      <p class="govuk-body">{{ request.sharedata.steps['data-subjects'].value }}</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Aim of project</h2>
      <p class="govuk-body">{{ request.sharedata.steps['project-aims'].value.aims }}</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">How data will help reach this aim</h2>
      <p class="govuk-body">{{ request.sharedata.steps['project-aims'].value.explanation }}</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Public benefits of project</h2>
      <h3 class="govuk-heading-s">Evidence for public service delivery</h3>
      <p class="govuk-body">{{ request.sharedata.steps.benefits.value['service-delivery'].explanation }}</p>
      <h3 class="govuk-heading-s">Evidence for decisions which are likely to benefit people in the UK</h3>
      <p class="govuk-body">{{ request.sharedata.steps.benefits.value['benefit-people'].explanation }}</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Preferred format</h2>
      <ul class="govuk-list">
        {% for format, details in request.sharedata.steps.format.value %}
          {% if details.checked %}
            <li class="govuk-!-padding-bottom-3">{{ format |  capitalize }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">How they want to receive it</h2>
      <ul class="govuk-list">
        {% for method, details in request.sharedata.steps.delivery.value %}
          {% if details.checked %}
            <li class="govuk-!-padding-bottom-3">{{ method | capitalize }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">What they think their role is</h2>
      <p class="govuk-body">{{ request.sharedata.steps.role.value }}</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Data they want</h2>
      <p class="govuk-body">{{ request.sharedata.steps['data-required'].value }}</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">How it will impact the project if they don't get the data</h2>
      <p class="govuk-body">{{ request.sharedata.steps.impact.value }}</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">How they will dispose of the data</h2>
      <p class="govuk-body">{{ request.sharedata.steps.disposal.value }}</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">When they need it</h2>
      <p class="govuk-body">{{ request.sharedata.steps.date.value.day }}/{{ request.sharedata.steps.date.value.month }}/{{ request.sharedata.steps.date.value.year }}</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Data type</h2>
      <ul class="govuk-list">
        {% for type, details in request.sharedata.steps['data-type'].value %}
          {% if details.checked %}
            <li class="govuk-!-padding-bottom-3">{{ type | capitalize }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Data accessed by other organisations</h2>
      <p class="govuk-body">{{ request.sharedata.steps['data-access'].value }}</p>
      <p class="govuk-body">Organisations:</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for org in request.sharedata.steps['other-orgs'].value %}
          <li>{{ org }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukTextarea({
      name: "request-notes",
      id: "request-notes",
      label: {
        text: "Notes (not shared with " + request.requestingOrg + ")",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        text: "Do not include personal or financial information, like your National Insurance number or credit card details."
      }
    }) }}
  </div>
</div>


<div class="govuk-grid-row" style="margin-top: 3em;">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      {{ govukButton({
        text: "Continue",
        name: "continueButton"
      }) }}
      {{ govukButton({
        text: "Return to summary",
        name: "returnButton",
        classes: "govuk-button--secondary"
      }) }}
    </form>
  </div>
</div>

</div>

{% endblock %}
