{% extends "page.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Adding a single data description asset</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    <p class="govuk-body">You can add a data description to the Data Marketplace using an online form. You must submit one form per dataset or data service.</p>

    <h2 class="govuk-heading-m">Step 1: Gather information about your data description</h2>

    <p class="govuk-body">Use the <a class="govuk-link" href="#">questions</a> as a guide to ensure that enough information can be provided at each stage of adding a data description.</p>

    <p class="govuk-body">By answering the questions, your published data description will be helpful to users trying to find data. You should avoid using domain specific jargon and acronyms. Write your description in plain English.</p>

    <p class="govuk-body">The questions also ensure that your description meets the <a class="govuk-link" href="https://docs.google.com/document/d/1EcCVxt-bifzWLa0WscInYmTCoDXdcncPtHF4tUnn7pU/edit?pli=1">cross-government data sharing metadata guidance</a>.</p>

    <h2 class="govuk-heading-m">Step 2: Enter your data description</h2>

    <p class="govuk-body">Sign into the Data Marketplace and navigate to the <a class="govuk-link" href="#">Publish data descriptions</a> dashboard then click on the ‘Add new data description’ button.</p>

    <img style="max-width:100%;height:auto;border:1px solid grey;" src="/images/learn/publish-dashboard.png" alt="Publish dashboard screenshot"/>
    <br>
    <br>
    <br>

    <p class="govuk-body">You need to select ‘Add a data description manually’ which includes adding the description of a dataset (something that is distributed as a file download such as a CSV) or a data service (a web API that provides access to the data).</p>

    <img style="max-width:100%;height:auto;border:1px solid grey;" src="/images/learn/add-description-options.png" alt="Select your data description screenshot"/>
    <br>
    <br>
    <br>

    <p class="govuk-body">You will now be taken through a series of forms where you can provide the answers to each of the questions.</p>

    <h2 class="govuk-heading-m">Step 3: Review your description</h2>

    <p class="govuk-body">Once you have completed entering the description of your data, you will be presented with a check your answers page where you will have the option to change any of your answers.</p>

    <img style="max-width:100%;height:auto;border:1px solid grey;" src="/images/learn/check-answers-for-single-asset.png" alt="Check your answers for data asset screenshot"/>
    <br>
    <br>
    <br>

    <p class="govuk-body">Once you are satisfied your answers are correct, click on Submit, which will confirm your description of the data has been uploaded.</p>

    <h2 class="govuk-heading-m">Step 4: View published data descriptions</h2>

    <p class="govuk-body">Your data description will now have been added to the Data Marketplace. If you click on View metadata record, you will be taken to the page that provides the details of your data. To return to the home page, click on ‘Home’.</p>

    <img style="max-width:100%;height:auto;border:1px solid grey;" src="/images/learn/uploaded-single-asset.png" alt="Uploaded data asset screenshot"/>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-8">
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
  </div>

  <div class="govuk-grid-column-one-half-from-desktop">
    <h2 id="community" class="govuk-heading-m">Learn</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="/learn/">Find information to help you</a> with the data marketplace.
      <br>
      For example: a glossary, or the UK Cross-Government Metadata Exchange model.
    </p>
  </div>

  <div class="govuk-grid-column-one-half-from-desktop">
    <h2 id="support" class="govuk-heading-m">Contact Data Marketplace Team</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="#1">Contact the team</a> if you have a question, suggestion or idea. We’d love to hear from you.
    </p>
  </div>
</div>

{% endblock %}

