{% extends "page.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check questions for a data share request before you start</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    <p class="govuk-body">These are some common questions asked when requesting data from another government organisation.</p>
    <p class="govuk-body">Questions may differ slightly based on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>unique requirements for a particular department</li>
      <li>the sensitivity of the data you’re requesting</li>
      <li>whether it will travel outside the UK</li>
    </ul>
    <p class="govuk-body">You’ll need to ensure your request meets data protection (GDPR) and data sharing standards.</p>
    <p class="govuk-body">Your request will be reviewed by the department owning the data.</p>
    <p class="govuk-body">Some questions may require support from people with skills in:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>technology</li>
      <li>data security</li>
      <li>data protection</li>
      <li>legal</li>
      <li>data governance </li>
    </ul>

    <h2 class="govuk-heading-l">The questions you will be asked</h2>
    <h3 class="govuk-heading-m">Purpose of the data share</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>What type of data do you need?</li>
      <li>Who are the data subjects?</li>
      <li>What are the aims of your project?</li>
      <li>What data from {{ resourceTitle }} do you need?</li>
      <li>What public benefits will your project provide?</li>
      <li>Will other organisations need access to this data?</li>
      <li>How will it impact your project if you don't get this data?</li>
      <li>When do you need this data?</li>
    </ul>

    <h3 class="govuk-heading-m">Legal power and gateway</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Do you have the legal power to request this data?</li>
      <li>What legal gateway allows {{ organisationTitle }} to share this data with you?</li>
    </ul>

    <h3 class="govuk-heading-m">Data protection</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>What is your lawful basis for requesting personal data under GDPR?</li>
      <li>What is your lawful basis for requesting special category data under GDPR?</li>
      <li>Will any of this data leave the UK?</li>
      <li>What do you think the role of your organisation under UK GDPR will be?</li>
    </ul>

    <h3 class="govuk-heading-m">Data governance, security and technology</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>How would you like to receive this data?</li>
      <li>What is your preferred data format?</li>
      <li>How will you dispose of the data when your project finishes?</li>
    </ul>

    <p class="govuk-body">You will need to give assurance that you’ve had your answers checked by people with the appropriate legal, data protection and data security knowledge and expertise. This will increase the chance of your request being accepted and cause minimum delay.</p>
  </div>
</div>

{% include "partials/learn-banner.njk" %}

{% endblock %}

