{% extends "page.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Set up a data share arrangement in government</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    <p class="govuk-body">Setting up a data share can take several months.</p>

    <h3 class="govuk-heading-s">Step 1. Find the data you need</h3>

    <p class="govuk-body">The Data Marketplace is a place for people who work in government organisations, agencies and public bodies to share data.</p>
    <p class="govuk-body">You can use it to search data sets from government organisations.</p>
    <p class="govuk-body"><a class="govuk-link" href="/find">Find the data you need</a></p>

    <h3 class="govuk-heading-s">Step 2. Submit a data share request</h3>

    <p class="govuk-body">You need to answer some questions to make sure your request meets GDPR and data sharing standards.</p>
    <p class="govuk-body">Your answers will be reviewed by the department that owns the data.</p>
    <p class="govuk-body">Some questions may require support from people with skills in:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>technology</li>
      <li>data security</li>
      <li>data protection</li>
      <li>legal</li>
      <li>data governance </li>
    </ul>

    <p class="govuk-body"><a class="govuk-link" href="/learn/articles/data-sharing-questions">Check questions before starting a data share request</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/find">Start data share request</a></p>

    <h3 class="govuk-heading-s">Step 3. Collaborate with data owner</h3>

    <p class="govuk-body">If your request is approved, you will need to provide additional information to the data owner.</p>
    <p class="govuk-body">What information the provider needs will vary slightly between organisations.</p>

    <h3 class="govuk-heading-s">Step 4. Complete a memorandum of understanding (MOU)</h3>

    <p class="govuk-body">An MOU is a statement of intent between two organisations. Your MOU will cover the details of your data sharing agreement.</p>
    <p class="govuk-body">Many organisations and departments have their own MOU templates.
  </div>
</div>
{% include "partials/learnBanner.njk" %}

{% endblock %}

