{% extends "page.njk" %}

{% block content %}
    {% markdown %}
        # Glossary
        A

        **accessRights**, A rights statement that concerns how the distribution is accessed. Information about who can access the resource or an indication of its security status.

        **accessService**, A data service that gives access to the distribution of the dataset.

        **Acquirer**, The person, team or department requesting access to the data asset.

        **alternativeTitle**, An alternative name for a resource.

        B

        **byteSize**, The size of the distribution in bytes.

        C

        **Commercial (security status)**, Data resources marked Commercial are only available under certain conditions. You will need to check with the supplier.

        **contactName**, The team name.

        **contactPoint**, Relevant contact information for a cataloged resource. 

        **Created requests**, View pending, submitted and completed requests to access data owned by others.

        **creator**, The entity responsible for producing the resource.

        D

        **Data Asset**, Either a dataset or data service.

        **Data Catalog**, A curated collection of metadata about resources (data assets).

        **Data Governance**, How data is managed according to the organisation’s policies. It covers the lifecycle of data from how it is gathered, processed, stored, and disposed of.

        **Data Marketplace**, A place for people who work in government organisations, agencies and public bodies to share data.

        **Data Properties**, Information about the data. Also called Attributes.

        **Data Record**, Information based on the data asset.

        **Data Schema**, The structure of the data, e.g. the table names, column names, and type definitions.

        **Data Service**, A collection of operations that provides access to one or more datasets or data processing functions.

        **Data Subjects**, An identified or identifiable living individual.

        **Dataset**, A collection of data, published or curated by a single agent and available for access or download in one or more representations.

        **Dataset series**, A collection of datasets that are published separately, but share some characteristics that group them.

        **DCAT (Data Catalog Vocabulary)**, A list of terms enabling a publisher to describe datasets and data services in a catalog using a standard model and vocabulary that facilitates the consumption and aggregation of metadata from multiple catalogs.

        **description**, A free–text account of the resource.

        **Distribution**, A specific representation of a dataset. A dataset might be available in multiple serialisations that may differ in various ways, including natural language, level of detail or profiles (which might specify any or all of the above)., media–type or format, schematic organisation, temporal and spatial resolution.

        **downloadURL**, The URL of the downloadable file in a given format. For example, CSV file or RDF file. The format is indicated by the distribution's dcterms:format and/or dcat:mediaType.

        E

        **email**, The team email address.

        **endDate**, The end of a period.

        **endpointDescription**, A description of the services available via the end–points, including their operations and parameters.

        **endpointURL**, The root location or primary endpoint of the service (a Web–resolvable IRI).
        Event, A notification service.

        H

        homepage, A homepage of the catalog (a public web document usually available in HTML).

        I

        **identifier**, A unique identifier of the resource being described or cataloged.

        **importedBy**, An entity responsible for importing the data.

        **importedFrom**, The original source of imported information.

        **importedOn**, The date a resource was imported from a source.

        **Internal (security status)**, Data resources marked Internal are only available to internal government users.

        **issued**, Date of formal issuance of the resource. For example, the date of listing (formal recording) of the corresponding dataset or service in the catalog.

        K

        **keyword**, A keyword or tag describing a resource.

        L

        **lastRefreshedOn**, The date of the last re–import of the resource.

        **Lawful basis** (must be one of 6 reasons): 

        1. Consent
        2. Contract
        3. Legal obligation
        4. Vital interests
        5. Public task
        6. Legitimate interests 

        The ICO provides an online tool to help you choose the correct lawful basis for your purpose: <https://ico.org.uk/for–organisations/uk–gdpr–guidance–and–resources/lawful–basis/lawful–basis–interactive–guidance–tool/>

        **Learn**, Find information to help you get the most out the Data Marketplace.

        **Legal gateway**, A method allowing specified public authorities to share data with each other. Usually outlined in jointly agreed documents such as: a memorandum of understanding (MOU), a partnership agreement, a protocol, a statement of practice, or a code of practice.

        **Legal knowledge**, Someone within the team or organisation with legal knowledge or expertise.

        **Legal power**, When deciding whether you may proceed with any data sharing initiative, you should identify and document the law that is relevant to you. See <https://ico.org.uk/for–organisations/uk–gdpr–guidance–and–resources/data–sharing/data–sharing–a–code–of–practice/lawfulness/#legalpower>

        **Licence**, A legal document under which the resource is made available.

        M

        **mediaType**, The media type of the distribution as defined by IANA .

        **Metadata**, A set of data that describes and gives information about other data. For example, this could be the name and description of an API that lets someone access some other data. Also known as Data description. See <https://dds-e2e.herokuapp.com/WIP/learn/articles/metadata-model> for more details.

        **modified**, The most recent date the resource was changed, updated or modified.

        O

        **Official (security classification)**, The Official classification covers most of the day–to–day business of government, commercial activity and policy development. Resources with this classification can be added to the Data Marketplace.

        **Open (security status)**, Data resources marked Open are available to any user.

        **Owner**, The person, team or department responsible for the resource.

        P

        **Personal data**, Information relating to an identified or identifiable natural person.

        **Publish data descriptions**, Publish a description of your data assets so they can be found by other government organisations.

        **Publisher**, The person, team or department responsible for adding a data description (metadata) to the Data Marketplace.

        R

        **Received requests**, View current and completed requests which are managed by your department.

        **Related Resource**, A resource with an unspecified relationship to the cataloged resource.

        **Request ID**, A unique reference number given to each data asset request.

        **REST** (Representational state transfer), An architecture style for implementing a web service.

        S

        **Secret (security classification)**, Very sensitive information that requires enhanced protective controls, including the use of secure networks on secured dedicated physical infrastructure and appropriately defined and implemented boundary security controls, suitable to defend against highly capable and determined threat actors, whereby a compromise could threaten life (an individual or group), seriously damage the UK’s security and/or international relations, its financial security/stability or impede its ability to investigate serious and organised crime. Resources with this classification are not expected to be shared in the Data Marketplace.

        **securityClassification**, An information security designation that identifies the minimum level of protection assigned to an information resource.

        **servesData**, A collection of data that a data service can distribute.

        **serviceStatus**, The status of the resource in the context of a particular workflow process.

        **serviceType**, The nature or genre of a resource.

        **SOAP** (Simple Object Access Protocol), an XML based protocol for sending messages between Web Services.

        **Special category data**, More sensitive than personal data giving them extra protection, for example biometric and health data.

        **startDate**, The start of a period.

        **summary**, A description of the subject resource.

        **Supplier**, The person, team or department providing the data asset.

        T

        **theme**, A main category of a resource. A resource can have multiple themes.

        **Top secret (security classification)**, Exceptionally sensitive information assets that directly support or inform the national security of the UK or its allies AND require an extremely high assurance of protection from all threats with the use of secure networks on highly secured dedicated physical infrastructure, and robustly defined and implemented boundary security controls. Resources with this classification are not expected to be shared in the Data Marketplace.

        V

        **version**, The version indicator (name or identifier) of a resource.
        Glossary.txt
        Displaying Glossary.txt.
        
    {% endmarkdown %}
{% endblock %}