{% extends "page.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Learn
    </h1>
    <p class="govuk-body-l">Find information to help you get the most out of the Data Marketplace.</p>
    <br>

    <h2 class="govuk-heading-m">Guidance on terminology</h2>
    <p class="govuk-body">
      <ul class="govuk-list WIP-LEARN__browse-list">
        <li style="margin-bottom:25px;"><a href="/learn/articles/glossary" class="govuk-link">Glossary</a></li>
        <li style="margin-bottom:45px;"><a href="https://co-cddo.github.io/ukgov-metadata-exchange-model/" class="govuk-link">UK Cross-Government Metadata Exchange Model</a></li>
      </ul>
    </p>
    <h2 class="govuk-heading-m">Set up a data share request</h2>
    <p class="govuk-body" >
      <ul class="govuk-list WIP-LEARN__browse-list">
        <li style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/data-sharing-arrangements">Data Sharing Arrangements</a></li>
        <li style="margin-bottom:45px;"><a class="govuk-link" href="/learn/articles/data-sharing-questions">Data sharing questions</a></li>
      </ul>
    </p>

    <h2 class="govuk-heading-m">Publish data descriptions</h2>
    <p class="govuk-body">
      <ul class="govuk-list WIP-LEARN__browse-list">
        <li style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/guidance-on-publish">Guidance on publish</a></li>
        <li style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/adding-a-CSV-file">Adding a collection of metadata records as a CSV file</a></li>
        <li style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/adding-a-single-data-asset">Adding a single data asset</a></li>
        <li style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/metadata-model">Metadata model</a></li>
        <li style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/publish-data-descriptions-questions">Publish data descriptions questions</a></li>
        <li style="margin-bottom:45px;"><a class="govuk-link" href="/learn/articles/dcat">DRAFT Using metadata to describe data assets in a data catalogue</a></li>
      </ul>
    </p>  

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
  </div>

  <div class="govuk-grid-column-one-half-from-desktop">
    <h2 id="support" class="govuk-heading-m">Contact Data Marketplace Team</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="#">Contact the team</a> if you have a question, suggestion or idea. We’d love to hear from you.
    </p>
  </div>
</div>

{% endblock %}

