{% extends "page.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Learn
    </h1>
    <p class="govuk-body-l">Find information to help you get the most out of the Data Marketplace.</p>
    <br>

    <h2 class="govuk-heading-m">First visit to the Data Marketplace</h2>
    <p class="govuk-body">If this is your first visit to the Data Marketplace, you'll need to create a profile by adding a few basic contact details. You'll then be able to find and share data asset descriptions from across government.</p>
    <p class="govuk-body"><a class="govuk-link" href="/learn/articles/sign-in-process">Here's how the sign-in process works</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/learn/articles/account-permission">Account permissions</a></p>
    <h2 class="govuk-heading-m">Guidance on terminology</h2>
    <p class="govuk-body">
    <p class="govuk-body" style="margin-bottom:25px;"><a href="/learn/articles/glossary" class="govuk-link">Glossary</a></p>
    <p class="govuk-body" style="margin-bottom:45px;"><a href="https://co-cddo.github.io/ukgov-metadata-exchange-model/" class="govuk-link">UK Cross-Government Metadata Exchange Model</a></p>
    <h2 class="govuk-heading-m">Set up a data share request</h2>
    <p class="govuk-body">
    <p class="govuk-body" style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/data-sharing-arrangements">Data Sharing Arrangements</a></p>
    <p class="govuk-body" style="margin-bottom:45px;"><a class="govuk-link" href="/learn/articles/data-sharing-questions">Data sharing questions</a></p>
    <h2 class="govuk-heading-m">Publish data descriptions</h2>
    <p class="govuk-body" style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/guidance-on-publish">Guidance on publish</a></p>
    <p class="govuk-body" style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/adding-a-CSV-file">Adding a collection of metadata records as a CSV file</a></p>
    <p class="govuk-body" style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/adding-a-single-data-asset">Adding a single data asset</a></p>
    <p class="govuk-body" style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/metadata-model">Metadata model</a></p>
    <p class="govuk-body" style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/publish-data-descriptions-questions">Publish data descriptions questions</a></p>
    <p class="govuk-body" style="margin-bottom:25px;"><a class="govuk-link" href="/learn/articles/esda">DRAFT Record key information about Essential Shared Data Assets</a></p>
    <p class="govuk-body" style="margin-bottom:45px;"><a class="govuk-link" href="https://www.gov.uk/government/publications/recommended-open-standards-for-government/using-metadata-to-describe-data-assets-in-a-data-catalogue">Using metadata to describe data assets in a data catalogue</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 id="support" class="govuk-heading-m">Get help and support</h2>
      <p class="govuk-body"><a class="govuk-link" href="https://forms.gle/rpy2BMchHGDNVFfAA">Tell us what you need help with</a>.</p>
    <p class="govuk-body">If you have any questions about the data asset description (metadata), you should contact the data asset supplier directly.</p>
  </div>
</div>

{% endblock %}
