{% extends "page.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="datatype" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="typeOfData-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Request ID: RR523</span>
            <h1 class="govuk-fieldset__heading">
              What type of data do you need?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="typeOfData" name="typeOfData" type="radio" value="personal">
              <label class="govuk-label govuk-radios__label" for="typeOfData">
                Personal data
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                For example, names or addresses
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="typeOfData-2" name="typeOfData" type="radio" value="special">
              <label class="govuk-label govuk-radios__label" for="typeOfData-2">
                Special category data
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                For example, data about health or religious beliefs.
              </div>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="typeOfData-5" name="typeOfData" type="radio" value="none" data-behaviour="exclusive">
              <label class="govuk-label govuk-radios__label" for="typeOfData-5">
                None of the above
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                For example, anonymised data.
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" type="submit" data-module="govuk-button">
          Save and continue
        </button>
        <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button">
          Save and return
        </button>
      </div>
      <br />
      <br />
      <h2 class="govuk-heading-m">More information</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/personal-information-what-is-it/what-is-personal-data/what-is-personal-data/" target="_blank">What is personal data? (opens in new tab)</a></li>
        <li><a class="govuk-link" href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/lawful-basis/special-category-data/what-is-special-category-data/" target="_blank">What is special category data? (opens in new tab)</a></li>
      </ul>
    </form>
  </div>
</div>


{% endblock %}
