{% extends "layouts/base.njk" %}

{% block header %}
  {% include "../partials/navigation.njk" %}
  <div class="masthead">
    <div class="govuk-body govuk-!-font-size-24 govuk-width-container">
        {% include "../partials/phaseBannerInverse.njk"%}
      <h1 class="masthead__title">
        Data Marketplace
      </h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <p class="masthead__description govuk-!-margin-bottom-3">
            A place for people who work in government organisations, agencies and public bodies to share data.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-l govuk-!-font-weight-bold">Find data assets</h2>
    <p class="govuk-body">Find data assets from  government organisations. Personal and special category data is available.</p>
    <a href="/bs1/login" class="govuk-button" data-module="govuk-button">
      Find data assets
    </a>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-l">Manage data shares</h2>
    <p class="govuk-body">Set up and manage your data shares so you can share your data assets with other government organisations.</p>
    <a href="#" class="govuk-button" data-module="govuk-button">
      Manage data shares
    </a>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-l">Publish data descriptions</h2>
    <p class="govuk-body">Publish a description of your data assets so they can be found by other government organisations.</p>
    <a href="#" class="govuk-button" data-module="govuk-button">
      Publish data descriptions
    </a>
  </div>
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
  </div>
  <div class="govuk-grid-column-one-half-from-desktop">
    <h2 id="community" class="govuk-heading-m">Knowledge Hub</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="#">Find policies and standards</a> relevant to your data and learn from the experience of others who work with data across government.
    </p>
  </div>
  <div class="govuk-grid-column-one-half-from-desktop">
    <h2 id="support" class="govuk-heading-m">Contact Data Marketplace Team</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="#">Contact the team</a> if you have a question, suggestion or idea. We’d love to hear from you.
    </p>
  </div>
</div>
{% endblock %}
