{% extends "govuk/template.njk" %}

{% block head %}
    <link href="/govuk-frontend/all.css" rel="text/stylesheet">
    <link href="{{ assetPath }}/stycssles/style.css" rel="stylesheet" />
{% endblock %}

{% block header %}

{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Data Marketplace",
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}

  {% include "partials/navigation.njk" %}
  {% if home %}
    <div class="x-govuk-masthead x-govuk-masthead--large">
      <div class="govuk-width-container">
        {% include "partials/phaseBannerInverse.njk" %}
        <h1 class="x-govuk-masthead__title">
          Data Marketplace
        </h1>
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <p class="x-govuk-masthead__description govuk-!-margin-bottom-3">
            A place for people who work in government  organisations, agencies and public bodies to share data.
          </p>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="govuk-width-container">
    {% include "partials/phaseBanner.njk" %}
    <a class="govuk-back-link" href="{{ backLink }}">Back</a>
  </div>
  {% endif %}
{% endblock %}

{% block bodyStart %}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}  
    <script src="{{ assetPath }}/javascripts/all.js" type="text/javascript"></script>
    <script src="{{ assetPath }}/javascripts/accordionExpander.js" type="text/javascript"></script>
    <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}

{% block footer %}
  {% include "../partials/footer.njk" %}
{% endblock%}